.header{
    width : 75%;
    margin-left: auto;
    margin-right: auto;
	text-align : center;
	font-size : 40px;
    color : white;
    font-family: "Times New Roman", Times, serif;
    padding: 80px;

}

body{
    background-image: url("a.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;}
}

table.table1{
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
    margin: 0px auto;
}

.table1 thead th{
    padding:15px;
    color:#000000;
    border:1px solid #bdceff;
    border-bottom:3px solid #bdceff;
    background-color:#cfffff;
}

.table1 tbody th{
    color:#000000;
    text-shadow:1px 1px 1px #568F23;
    background-color:#edffff;
    border:1px solid #bdceff;
    border-right:3px solid #bdceff;
    padding:0px 10px;
}

.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#FFF0F5;
    border: 2px solid #E7EFE0;
    color:#000567;
    text-shadow:1px 1px 1px #fff;
}
